<div class="navbar navbar-default navbar-fixed-top">
    <div class="own-logo pull-left"></div>
    <span class="own-header-text">
        <translate>GENTERAL_TITLE</translate>
    </span>
    <div class="gear-box pull-right">

            <a ui-sref="auth.logout"><i class="profile-icon-exit"></i><translate>GENERAL_EXIT</translate></a>

    </div>

    <div class="own-header-right-box pull-right">
        <div class="user-name-box pull-right">
            <p>Здравствуйте, Роман Голов</p>
        </div>
    </div>
</div>
<div class="col-left">
    <div class="own-nav-left pull-left">
        <ul class="tg-leftNav nav-collapse collapse">
            <li icon="tg-icon-clients" ui-sref-active="active" ui-sref="app.clients">
                <a ui-sref="app.clients">
                    <i class="tg-icon-clients"></i>
                    <translate>MENU_CLIENTS</translate>
                </a>
            </li>
            <li icon="tg-icon-clients" ui-sref-active="active" ui-sref="app.balance">
                <a  ui-sref="app.balance">
                    <i class="tg-icon-balance"></i>
                    <translate>MENU_BALANCE</translate>
                </a>
            </li>
        </ul>

    </div>
</div>
<div class="own-content" data-ui-view="content">

</div>