/*===========LOGIN PAGE=======================*/
body {
    min-width: 600px;
    background-color: #fff;
}

.login-header {
    height: 160px;
    background-color: #ffffff;
    width: 100%;
    background-image: url("../images/template/login_line.gif");
    background-repeat: repeat-x;
    background-position: 0 80px;
    text-align: center;
}

.login-header-image-box {
    width: 392px;
    height: 160px;
    position: relative;
    left: 50%;
    margin-left: -196px;
    background-image: url("../images/template/logo.jpg");
    background-position: 0 20px;
    background-repeat: no-repeat;
}

.login-content {
    background-color: #32afe2;
    padding: 30px 0;
}

.login-box {
    width: 600px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
    padding: 30px 60px;
    text-align: center;
}

.login-box p {
    margin: 0 0 20px 0;
}

.login-box-h1 {
    color: #009fce;
    font-size: 30px;
    padding-bottom: 10px;
}

.login-box-unit {
    margin: auto;
    margin-bottom: 20px;
    width: 260px;
}

.login-box-footer {
    height: 20px;
    line-height: 20px;
    margin-bottom: 30px;
}

.login-box-footer a {
    font-size: 14px;
}

.login-footer-shadows {
    width: 100%;
    height: 90px;
    margin-top: -1px;
    position: relative;
    z-index: 1;
}

.login-footer-shadow-left {
    float: left;
    width: 50%;
    background-image: url("../images/template/bg_left.png");
    background-position: 0 1px;
    background-repeat: no-repeat;
    height: inherit;
}

.login-footer-shadow-right {
    float: right;
    height: 90px;
    width: 50%;
    background-image: url("../images/template/bg_right.png");
    background-position: 100% 1px;
    background-repeat: no-repeat;
    height: inherit;
}

.login-footer-shadow-right:after {
    clear: both;
    padding-top: 100px;
}

.login-footer {
    background-color: transparent;
    height: 90px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #555555;
    position: relative;
    z-index: 10;
    top: -67px;
}

/*====== only for IE7 =======*/

*+html .login-footer-shadow-left {
    visibility: hidden;
}

*+html .login-footer-shadow-right {
    visibility: hidden;
}

*+html .login-box-unit {
    height: 20px;
}

*+html .login-header-image-box {
    margin-right: 90%;
    margin-top: 20px;
}

.pre-loader {

}

.loader{
    width: 128px;
    height: 128px;
    margin: auto auto 30px;
    background: url("../images/loader.gif");
}