/*=============== GENERAL =============*/

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    background-color: #dcdcdc !important;
    min-width: 600px;
    font-family: "PT Sans Narrow";
    font-size: 16px;
    color: #535353
}

body a {
    outline: none !important;
}
/*=============== END general =============*/

/*=============== HEADER ================*/
.navbar {
    height: 45px;
    min-height: 45px;
    font-size: 14px;
}

.navbar-default {
    border-bottom: solid 1px #999999 !important;
}

.navbar-fixed-top {
    width: 100% !important;
    height: 45px !important;
    min-height: 45px !important;
    background: #f5f5f5; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f5f5 0%, #d1d1d1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #d1d1d1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #d1d1d1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5f5f5 0%, #d1d1d1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5f5f5 0%, #d1d1d1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f5f5f5 0%, #d1d1d1 100%); /* W3C */
    /* IE6-9 */
    border-bottom: solid 1px #999999;
    line-height: 45px;
    text-align: center;
    overflow: visible;
}

.own-header {
    width: 100% !important;
    height: 45px !important;
    min-height: 45px !important;
    background: #f5f5f5; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f5f5 0%, #d1d1d1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #d1d1d1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #d1d1d1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5f5f5 0%, #d1d1d1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5f5f5 0%, #d1d1d1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f5f5f5 0%, #d1d1d1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#d1d1d1', GradientType=0); /* IE6-9 */
    border-bottom: solid 1px #999999;
    line-height: 45px;
    text-align: center;
}

.own-header-text {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: bold;
}

.own-header-right-box{
    height: inherit;
    font-weight: bold;
    background-color:#F5F5F5;
    border-bottom: 1px solid #999;
}

.own-header-right-box i{
    margin-right: 8px;
}

.own-header-right-box .user-name-box{
    text-align: right;
    color:#0088cc !important;
    padding: 0 8px;
    border-right: 1px solid #999;
    border-left: 1px solid #999;
}

.own-header-right-box .user-name-box p{
    font-weight: normal;
    font-size: 12px;
    line-height: 45px;
    margin-bottom: 0px;
    color: #535353;
}

.own-header-right-box .gear-box{
    width:45px;
    height: 45px;
    text-align: right;
    color:#0088cc !important;
    float: right;
    position: relative;
}

.own-logo {
    width: 160px;
    height: inherit;
    padding: 0 !important;
    background-image: url("../images/template/logo.png");
    background-repeat: no-repeat;
    background-position: 24px 4px;
}

.own-header-gear{
    width:26px;
    height: 26px;
    margin: 9px 0 0 10px;
    background-image: url("../images/template/gear.png");
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg));
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition:all 400ms;
}

.own-header-gear:hover{
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

.own-header-right-box .dropdown-menu{
    border: 1px solid #999999 !important;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5) !important;
    border-radius: 0 !important;
    padding: 0px !important;
    margin: 5px 0 0 !important;
    background-color: #F5F5F5 !important;
    left: -159px !important;
    top: 30px !important;
}

.own-header-element {
    font-weight: bold;
    height: 34px;
    width: 160px;
    line-height: 45px !important;
    text-align: left;
    border-bottom: 1px solid #999999;
}

.own-header-element a{
    font-weight: bold !important;
    color:#2a2a2a !important;
    line-height: 30px !important;
    height: 34px;
    display: block;
}

.own-header-element a:hover {
    font-weight: bold;
    color: #285e8e !important;
    background-color: transparent !important;
}

.own-lang-switcher{
    margin: 10px 10px 0 0;
    padding: 0;
}

.own-lang-switcher select{
    margin: 0;
    padding: 0;
    width: 100px;
    height: 25px;
    line-height: 25px;
    cursor:pointer;
}

.icon-ru{
    display: block;
    width:23px;
    height: 16px;
    background-image: url("../images/template/icon_ru.png");
}

.icon-en{
    display: inline-block;
    width:23px;
    height: 16px;
    background-image: url("../images/template/icon_en.png");
}
@media (max-width:660px) {
    .own-header-text {
        display: none;
        width: 0 !important;
    }
}
/*=============== END header ================*/


/*=============== LEFT COLUMN ================*/
.col-left {
    min-height: 100%;
    width: 160px;
    margin: 0 auto;
    float: left;
    position: relative;
    z-index: 3;
    background-color: #dcdcdc;
    padding-top: 44px;

}

.col-left ul {
    list-style: none;
}

.col-left a:hover {
    text-decoration: none;
}

.own-nav-left {
    background-color: #008ec3 !important;
    width: 160px;
    float: left !important;
    z-index: 0;
}

.own-nav-left .nav-collapse {
    display: block;
}

.own-nav-left ul {
    padding: 0;
    margin: 0;
}

.own-nav-left a {
    display: block;
    border-bottom: 1px solid #ffffff;
    vertical-align: middle;
    padding: 10px 0 10px 24px;
    color: #cff2ff;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 16px;
    font-weight: bolder;
}

.own-nav-left a:hover {
    box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.8);
    color: #cff2ff;
}

.own-nav-left .active {
    box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.8);
}

.own-nav-left .tg-menuSeparator {
    border-bottom: 1px solid #ffffff;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    background-color: #d2d2d2;
    color: #9a9c9f;
    font-family: "pt sans narrow";
    font-weight: bold;
    text-align: center;
    padding: 0 8px 0 0;
}

.own-nav-left .tg-menuSeparator:hover {
    box-shadow: none;
}

.own-nav-left .own-nav-left-collapse {
    background-color: #00b2e7;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
}

[class^="tg-icon-"] {
    display: inline-block;
    width: 24px;
    height: 15px;
    line-height: 40px;
    background-image: url("../images/template/leftNavSprite.png");
    background-repeat: no-repeat;
}

.own-nav-left .tg-subNav a {
    font-size: 16px !important;
}

.tg-subNav {
    box-shadow: inset 0 6px 5px -3px rgba(0, 0, 0, .5), inset 0 -6px 5px -3px rgba(0, 0, 0, .5);
    background-color: #00b2e7;
}

.tg-icon-home {
    background-position: 0 0;
}

.tg-icon-last {
    background-position: 0 0;
}

.tg-icon-systems {
    background-position: -24px 0;
}

.tg-icon-finance {
    background-position: -48px 0;
}

.tg-icon-conference {
    background-position: -72px 0;
}

.tg-icon-affiliate {
    background-position: -96px 0;
}

.tg-icon-monetization {
    background-position: -122px 0;
}

.tg-icon-management {
    background-position: -269px 0;
}

.tg-icon-statistic {
    background-position: -192px 0;
}

.tg-icon-clients {
    background-position: -216px 0;
}

.tg-icon-balance {
    background-position: -240px 0;
}

.tg-icon-pay {
    background-position: -146px 0;
}

.tg-icon-instructions {
    background-position: -169px 0;
}

.tg-icon-set-invoice {
    background-position: -297px 0;
}

.tg-icon-payment-history {
    background-position: -321px 0;
}

.tg-icon-employees {
    background-position: -345px 0;
}

.tg-icon-localization {
    background-position: -374px 0;
}

.tg-icon-refresh{
    width: 15px;
    height: 15px;
    background-image: url("../images/template/icon-refresh.png");
}

@media (max-width: 768px) {
    .col-left {
        width: 40px !important;
    }

    .col-left .own-nav-left {
        padding-top: 1px !important;
    }

    .own-nav-left a {
        margin-left: -14px !important;
    }

    .own-nav-left a i {
        margin-right: -99999px;
    }

    .col-left .tg-menuSeparator {
        height: 6px !important;
        background-color: #ffffff !important;
        font-size: 0;
    }

    .col-left .tg-menuSeparator span {
        display: none;
    }

    .col-left .own-nav-left-item:hover {
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.8) !important;
    }

    .col-left .active {
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.8) !important;
    }

    .own-header-text {
        width: 50%;
    }

    /*===hide submenu===*/
    #sub2 {
        display: none;
        height: 0;
    }
}

/*=============== CONTENT ================*/
.own-content {
    min-height: 100%;
    background-color: #f6f6f6;
    color: #535353;
    min-width: 750px;
    width: 70%;
    margin: 0 auto;
    position: relative;
    float: left;
    padding: 80px 40px 40px 40px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
    z-index: 100
}

.own-content-payment{
    min-width: 830px;
    padding: 80px 20px 20px 40px;
}

.own-content .video-box {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.own-content .materials {
    width: 80%;
    margin: auto;
}

.own-content-center {
    width: 100%;
    text-align: center;
}

.own-content .arrow-right {
    font-weight: bold;
    font-size: 23px;
}

.own-form-width {
    width: 400px;
}

.own-left-header {
    padding-left: 200px;
    padding-bottom: 20px;
}

.own-content h1, h2, h3, h4 {
    color: #373737;
}

.own-content-h1 {
    font-size: 18px;
}

.own-content-h2 {
    font-size: 20px;
    padding-bottom: 10px;
}

.own-content-h3 {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 20px;
}

.own-content hr {
    border-color: #ddd;
    margin-bottom: 10px;
    margin-top: 0;

}

.own-content-balance {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 28px;
    color: #a4b300;
}

.own-content-balance-row {
    line-height: 35px;
}

.own-content-balance-row dt {
    float: left;
    font-weight: bold;
    line-height: 40px;
}

.own-content-balance-row dd .glyphicon {
    padding-bottom: 3px;
    font-size: 18px;
}

.own-pay-block {
    width: 330px;
    height: 40px;
    clear: both;
}

.own-pay-block-center {
    position: relative;
    left: 50%;
    margin-left: -150px;
}

.form-unit {
    min-width: 400px;
    height: 34px;
    clear: both;
    margin-bottom: 10px;
}

.form-unit-label {
    float: left;
    width: 25%;
    color: #a6a6a6;
    text-align: right;
    margin-right: 2%;
    height: 30px;
    padding-top: 9px;
    font-weight: normal;
}

.system-href {
    font-weight: bold;
    line-height: 38px;
}

#accordion .form-unit-label {
    color: #535353;
}

.tab-content .form-unit-label {
    color: #373737;
}

.form-unit-field {
    float: left;
    width: 70%;
    text-align: left;
}

.own-pay-field {
    width: 134px;
    margin-right: -34px;
}

.own-create-system {
    width: 600px;
}

.own-arrow-right {
    line-height: 28px;
    padding: 0 10px;
}

.tab-content .label-summ {
    line-height: 35px !important;
    padding-right: 10px;
}

.tab-content .own-pay-logo {
    margin: 20px;

}

.tab-content .small-field {
    width: 60px;
}

.tab-content .month-divider {
    line-height: 35px;
    font-weight: bold;
    font-size: 20px;
    padding: 0 10px;
}

.tab-content {
    height: inherit;
    overflow: auto !important;
}

.own-create-bill {
    width: 515px;
    margin: auto;
}

.own-create-bill button {
    margin-left: 160px;
}

/* accordion */
.accordion-toggle,
.accordion-toggle:hover,
.accordion-toggle:visited,
.accordion-toggle:active,
.accordion-toggle:link {
    color: #373737;
    text-decoration: none
}

.panel-group .panel {
    margin-top: 0;
    margin-bottom: -1px;
    border: 1px solid #ccc;
}

.top-corners-6{
    border-radius: 6px 6px 0 0 !important;
}

.bottom-corners-6{
    border-radius: 0 0 6px 6px !important;
}


.accordion-heading {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e7e7e7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e7e7e7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #e7e7e7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #e7e7e7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #e7e7e7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #e7e7e7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e7e7e7', GradientType=0); /* IE6-9 */
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    padding-left: 20px;
}

.accordion-inner {
    background-color: #fff;
    padding: 15px 40px;
}

.accordion-inner .inline-form {
    width: 100%;
    min-width: 815px;
    height: 40px;
}

.systemRefillInfoBlock {
    padding: 10px 0;
}

.system-refill-button {
    margin-left: 31%;
}

.accordion-inner .inline-form .form-unit-label {
    width: 9%;
}

.accordion-inner .inline-form .form-unit-field {
    width: 22%;
}

.accordion-inner .tg-tooltip {
    vertical-align: top;
    margin-left: 6px;
    margin-top: 3px;
}

/** Trainings **/
.tg-training {
    float: left;
    width: 46%;
    margin: 0 2%;
}

.tg-training>a {
    position: relative;
    display: block;
    min-height: 200px;
    padding: 5px 15px 25px;
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    text-decoration: none;
    color: #535353;
}

.tg-training .tg-activeCard {
    border-color: #26a6d1;
    height: 340px;
}

.tg-activeCard:hover {
    text-decoration: none;
    color: inherit;
}

.tg-err .tg-training .tg-activeCard,
.tg-err .tg-trainingInfo {
    border-color: #be4847;
}

.tg-training>a img {
    display: block;
    width: 41%;
    margin: 0 auto;
}

.tg-training>a .tg-bigThumbnail {
    width: 90%;
}

.tg-training>a h2 {
    font-size: 13px;
    font-weight: bold;
    line-height: 14px;
}

.tg-training>a h2 {
    font-size: 12px;
}

.tg-trainingInfoWrap {
    float: left;
    width: 96%;
    margin: 0 2%;
}

.tg-training,
.tg-trainingInfo {
    margin-bottom: 15px;
}

.tg-trainingInfo {
    min-height: 100px;
    padding: 10px 15px 0 10px;
    border: 1px solid #26a6d1;
    border-radius: 8px;
    color: #535353;
}

.tg-trainingInfo .form-unit-field-label {
    width: 12% !important;
}

.panel-group .panel {
    overflow: visible !important;
}

.accordion-inner .panel {
    border: none;
}

.tg-trainingInfo .form-unit-field-select {
    width: 17%;
    margin-right: 20px;
}

.tg-trainingInfo .form-unit-field-button {
    margin-right: 20px;
}

.tg-trainingInfo .price {
    color: #a4b300;
    font-weight: bold;
    font-size: 20px;
}

.tg-trainingInfo h2 {
    font-size: 13px;
    font-weight: bold;
    line-height: 14px;
}

.tg-trainingInfo p {
    font-size: 12px;
}

.tg-trainingInfo button {
    vertical-align: baseline;
}

.tg-trainingInfo .tg-price {
    vertical-align: middle;
}

.accordion-group .accordion-group {
    margin-bottom: 0;
    border: 0 solid transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.tg-readMore {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.tg-readMore:hover {
    text-decoration: underline;
}

.profile-edit .text-info:hover {
    text-decoration: underline;
    cursor: pointer;
}

.text-info {
    margin-bottom: 10px !important;
}

.tg-contacts .text-info {
    margin-left: 13px;
}

.tg-contacts p:first-child {
    margin-bottom: 0;
}

@media (min-width: 768px) and (max-width: 950px) {
    .tg-training {
        float: left;
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media (max-width: 530px) {
    .tg-training {
        float: left;
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
}

/** end Trainings **/
/* end accordion */


.tg-monetization-collapse .panel{
    border: none;
}

.tg-monetization-collapse .panel a:hover{
    text-decoration: none;
}

.tg-monetization-collapse .panel-heading{
    background-color: #eee;
    border: 1px solid #dddddd;
    padding-left: 30px;
    font-size: 18px;
    margin-bottom: -1px;
}

.tg-monetization-condition{
    width: 100%;
    margin: 0;
    min-height: 100px;
    padding: 22px 10px 10px 10px;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 0 0 8px 8px;
}

.wrap-670{
    width: 670px;
    margin: 0 auto;
}

.tg-monetization-condition .more{
    height: 34px;
    line-height: 34px;
    float: left;
}

.tg-monetization-condition .add-condition{
    float: left;
    padding: 0 15px;
}

.tg-monetization-condition .or{
    padding-left: 20px;
}

.tg-monetization-condition .row{
    margin: 0 0 12px 0 !important;
}

.tg-monetization-condition .divider{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 12px;
}

.tg-monetization-condition .month-row{
    padding: 0 12px 0 50px;
    text-align: center;
}

.tg-monetization-condition .delete{
    height: 34px;
    width: 34px;
    background: url("../images/template/icon-trash.png") no-repeat center;
    cursor: pointer;
}





/*** tabbable ***/
.tabbable {
    margin-bottom: 10px;
}

.tabs-left > .nav-tabs {
    float: left;
    width: 170px;
    margin-right: -1px !important;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    height: 40px;
    line-height: 40px;
    margin-bottom: 0 !important;
    border-color: #ddd #ddd #ddd #ddd;
    border-radius: 0;
    padding: 0 20px !important;
    background-color: #f7f7f9;
}

.tabs-left > .nav-tabs > li {
    line-height: 40px !important;
}

.tabs-left > .nav-tabs > li:first-child > a {
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0;
}

.tabs-left > .nav-tabs > li:last-child > a {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
}

.nav-tabs li a,
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
    color: #373737;
}

.tab-content {
    min-height: 100px;
    padding: 12px 10px;
    margin-bottom: 29px;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 0 8px 8px 8px;
}

.tab-content p {
    margin-bottom: 2px;
}

.tab-content hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tab-content .tab-content-header {
    font-size: 16px;
    padding: 0 0 0 10px;
    margin: 0;
}

.tab-content input {
    margin-bottom: 0;
}

.nav-tabs,
.nav-pills {
    *zoom: 1;
}

.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
    display: table;
    content: "";
    line-height: 0;
}

.nav-tabs:after,
.nav-pills:after {
    clear: both;
}

.nav-tabs > li,
.nav-pills > li {
    float: left;
}

.nav-tabs > li > a,
.nav-pills > li > a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
    color: #555555;
    background-color: #f7f7f9;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}

.tabbable {
    *zoom: 1;
}

.tabbable:before,
.tabbable:after {
    display: table;
    content: "";
    line-height: 0;
}

.tabbable:after {
    clear: both;
}

.tab-content {
    overflow: auto;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
    background-color: #ffffff;

}

.nav > .disabled > a {
    color: #999999;
}

.nav > .disabled > a:hover {
    text-decoration: none;
    background-color: transparent;
    cursor: default;
}

@media (max-width: 900px) {
    .tabs-left > .nav-tabs {
        float: none;
        margin-bottom: 0;
        width: auto;
        border: 0;
    }

    .tabs-left > .nav-tabs > li {
        float: left;
        border: 0;
    }

    .tabs-left > .nav-tabs > li > a {
        border: 1px solid #ddd;
        border-radius: 0;
    }

    .tabs-left > .nav-tabs > li:first-child > a {
        -webkit-border-radius: 4px 0 0 0;
        -moz-border-radius: 4px 0 0 0;
        border-radius: 4px 0 0 0;
    }

    .tabs-left > .nav-tabs > li:last-child > a {
        -webkit-border-radius: 0 4px 0 0;
        -moz-border-radius: 0 4px 0 0;
        border-radius: 0 4px 0 0;
    }

    .tabs-left > .nav-tabs .active > a,
    .tabs-left > .nav-tabs .active > a:hover {
        border-color: #ddd #ddd transparent #ddd;
    }

    .tabs-left > .nav-tabs > li > a:hover {
        border-color: #eeeeee #eeeeee #dddddd #eeeeee;
    }

    .tg-form-createSystem,
    .tg-form-createBill {
        width: 240px;
    }

    .tg-form-createSystem label,
    .tg-form-createBill label {
        display: block;
        width: 160px;
        text-align: left;
        vertical-align: super;
        margin: 0 0 0 5px;
    }

    .tg-form-createSystem .tg-tooltip,
    .tg-form-createBill .tg-tooltip {
        vertical-align: middle;
    }

    .tg-form-createSystem input,
    .tg-form-createBill input {
        margin-bottom: 0;
    }

    .tg-form-createBill {
        margin-left: -120px;
    }

    .tg-form-createBill .btn-info {
        margin-left: 50px;
    }

    .tg-btnGroup {
        padding-left: 0;
    }

    .tg-btnGroup .btn {
        margin-left: 15px;
    }

    .tg-btnGroup .btn:first-child {
        margin-left: 0;
    }

    .tg-btn-changePass {
        margin-left: 61px;
    }
}

/*END @MEDIA 868*/

.own-create-bill input, select {
    display: block;
    width: 68%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#set_invoice_form_price {
    width: 65%;
    border-radius: 0 4px 4px 0;
}

#videoplayer3149 {
    width: 600px;
    height: 560px;
}

.profile-data {
    width: 310px;
}

#card3 img {
    width: 95%;
    padding-top: 10px;
}

.tg-bonus {
    min-height: 88px;
    padding-left: 88px;
    background-image: url("../images/template/gift.png");
    background-repeat: no-repeat;
}

.tg-bonus .text-success {
    color: #a4b300;
}

.tg-bonus .text-error {
    color: #ff0000;
}

.tg-bonus h3 {
    margin: 0;
    text-align: center;
    font-size: 16px;
    line-height: 13px;
    font-weight: bold;
    padding-bottom: 10px;
}

.tg-bonus p {
    margin-bottom: 0;
}

.form-control-code-item {
    width: 34px !important;
    float: left;
    margin-right: 10px;
}

.form-control-code {
    width: 100%;
    height: 40px;
    clear: both;
}

.form-margin-r10 {
    margin-right: 10px;
}

[class^="profile-icon"] {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 34px;
    background-image: url("../images/template/profile_sprite.png");
    background-repeat: no-repeat;
}

.profile-icon-first-name {
    background-position: 0 0;
}

.profile-icon-second-name {
    background-position: -16px 0;
}

.profile-icon-email {
    background-position: -32px 0;
}

.profile-icon-country {
    background-position: -48px 0;
}

.profile-icon-city {
    background-position: -64px 0;
}

.profile-icon-address {
    background-position: -80px 0;
}

.profile-icon-mail-index {
    background-position: -96px 0;
}

.profile-icon-phone {
    background-position: -112px 0;
}

.profile-icon-skype {
    background-position: -128px 0;
}

.profile-icon-password {
    background-position: -144px 0;
}

.profile-icon-new-password {
    background-position: -160px 0;
}

.profile-icon-new-password-2 {
    background-position: -176px 0;
}

.profile-icon-profile-enter {
    background-position: -192px 0;
}

.profile-icon-exit {
    background-position: -208px 0;
}

.profile-edit {
    width: 410px;
    margin: auto;
}

.profile-edit .input-group{
    width: 98% !important;
    float: left;
}

.profile-edit .important-marker{
    line-height: 34px;
    color: #ff0000;
    padding-left: 2px;
}

.profile-buttons {
    margin: 10px;
}

.client-change-pass{
    width:520px;
    margin: auto;
}

.backgrid-filter .search {
    position: relative;
    z-index: 1000;
    width: 10px;
    height: 30px;
    margin-right: -10px;
    display: none !important;
}

.backgrid-filter.form-search {
    height: 34px !important;
    line-height: 34px !important;
    margin-bottom: 10px;
    width: 200px;
}

.backgrid-filter input[type="search"] {
    padding-right: 18px !important;
    padding-left: 10px !important;
    height: 34px;
    line-height: 16px;
    display: block;
    width: 100%;
    font-size: 14px;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.backgrid-filter input[type="search"]:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.backgrid-filter .select2-container{
    height: 36px !important;
    width: 100% !important;
}

.select2-container .select2-choice{
    padding-right: 18px !important;
    padding-left: 10px !important;
    height: 36px !important;
    line-height: 36px !important;
    display: block;
    width: 100%;
    font-size: 14px;
    color: #555555;
    vertical-align: middle;
    background: #ffffff !important;
    border: 1px solid #cccccc !important;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.select2-container-active .select2-choice, .select2-container-active .select2-choices{
    border-color: #66afe9 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
}

.select2-drop-active{
    border-color: #66afe9 !important;
}

.backgrid-filter .select2-container .select2-choices{
    border: 1px solid #cccccc;
    background-image: none;
    padding-left: 4px;
    border-radius: 4px;
}

.backgrid-filter .datepicker{
    padding: 0px;
}

.own-display-inline-block{
    display: inline-block !important;
    height: 100px;
    margin-right: 40px !important;
}

.own-100-width{
    width: 100% !important;
}

.own-20-width{
    width: 20% !important;
}

.own-45-width{
    width: 46% !important;
}

.own-40-width{
    width: 40% !important;
}

.own-66-width{
    width: 66% !important;
}

.own-100px-width{
    width: 100px !important;
}

.own-332px-width{
    width: 332px !important;
}

.own-230px-width{
    width: 230px !important;
}

.own-55-margin-bottom{
    margin-bottom: 55px !important;
}

.own-40-margin-right{
    margin-right: 40px;
}

.own-10-margin-right{
    margin-right: 10px !important;
}

.own-10-margin-top{
    margin-top: 10px !important;
}

.own-30-margin-top{
    margin-top: 30px !important;
}

.own-clear-both{
    clear: both;
}

.own-250-margin-left{
    margin-right: 250px;
}

.own-clear-left{
    clear: left;
}

.own-78-height{
    height: 78px !important !important;
}

.own-margin-auto{
    margin: auto !important;
    width: auto;
}

.own-margin-auto:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.backgrid-filter .clear{
    position: relative;
    top: -34px;
    left: 114%;
}

.select2-container-multi .select2-choices .select2-search-choice{
    margin: 6px 0px 3px 5px !important;
}

select{
    background: #ffffff !important;
    background: -moz-linear-gradient(top, #ffffff 0%, #e7e7e7 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e7e7e7)) !important;
    background: -webkit-linear-gradient(top, #ffffff 0%, #e7e7e7 100%) !important;
    background: -o-linear-gradient(top, #ffffff 0%, #e7e7e7 100%) !important;
    background: -ms-linear-gradient(top, #ffffff 0%, #e7e7e7 100%) !important;
    background: linear-gradient(to bottom, #ffffff 0%, #e7e7e7 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e7e7e7', GradientType=0) !important;
    cursor: pointer;
}

.tg-incoming-funds{
    position: relative;
    float: right;
    line-height: 34px;
    font-weight: bold;
    color:inherit;
}

/*=============== RIGHT ================*/
.col-right {
    height: 100%;
    float: left;
    width: 0%;
    position: relative;
    top: 45px;
    background-color: #dcdcdc;
    margin-top: -45px;
    padding-top: 85px;
}

.own-info-block {
    width: 235%;
    min-width: 360px;
    border-radius: 0 4px 0 0;
    font: 12px Tahoma, sans-serif;
    margin-bottom: 20px;
    position: relative;
    z-index: 100;
}

.own-info-block .form-control{
    width:40% !important;
}

.info-pass-icon{
    width:24px;
    height: 22px;
    display: inline-block;
    background-image: url("../images/template/info_pass_icon.png");
    cursor: pointer;
}

.info-find-emp-icon{
    width:24px;
    height: 22px;
    display: inline-block;
    background-image: url("../images/template/info_find_emp_icon.png");
    cursor: pointer;
}

.own-info-block .own-info-block-header {
    border-radius: 0 4px 0 0;
    width: 100%;
    text-align: left;
    color: #535353;
    text-indent: 20px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    box-shadow: inset 37px 0px 30px -36px rgba(0,0,0,0.7);
    background: #f5f5f5; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f5f5 0%, #d1d1d1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #d1d1d1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #d1d1d1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5f5f5 0%, #d1d1d1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5f5f5 0%, #d1d1d1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f5f5f5 0%, #d1d1d1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#d1d1d1', GradientType=0); /* IE6-9 */
}

.own-info-block .own-info-block-text {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: inset 37px 0px 30px -36px rgba(0,0,0,0.7);
}

.own-info-block .own-info-block-text .form-unit{
    min-width: 100%;
}

.hasCountdown {
    border: none !important;
    background: transparent !important;
    color: #aa0000;
    font-weight: bold;
}

/* counter */

.red {
    color: #b91b1a;
}

.green{
    color: #00a651;
}

.counter-box{
    height: 100px;
    position: relative;
    border-radius: 10px;
    border: 1px solid #00a651;
    padding: 10px;
    background-color: #ebffee;
}

.counter-box:after{
    display: block;
    content: "";
    width: 100%;
    clear: both;
}

.counter-box .info-circle-box{
    height: 100%;
    width: 8%;
    min-width: 50px;
    float: left;
}

.counter-box .info-circle-box .green-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 15px auto 0 auto;
    color: white;
    font-size:40px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    background-color: #00a651;
}

.counter-box .text-box{
    height: 100%;
    width: 45%;
    min-width: 295px;
    float: left;
    text-align: center;
}

.counter-box .text-box a{
    display: block;
    text-align: center;
}

.counter-box .text-box .end-action{
    text-align: center;
    margin-bottom: 10px;
}

.counter-box .counter{
    height: 100%;
    min-width: 295px;
    width: 45%;
    float: left;
    text-align: center;
}

.counter-box .counter .counter-unit{
    vertical-align: top;
    display: inline-block;
    width: 53px;
    height: 80px;
    color: #000;
}

.counter-box .counter .counter-unit .counter-unit-face{
    width: 60px;
    height: 45px;
    margin-top: 5px;
    color: #fff;
    font-size: 40px;
    text-align: left;
}

.counter-box .counter .counter-unit .counter-unit-face .number{
    float: left;
    height: 43px;
    width: 27px;
    text-align: center;
    background: #3c3c3c; /* Old browsers */
    background: -moz-linear-gradient(top, #3c3c3c 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c3c3c), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3c3c3c 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3c3c3c 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3c3c3c 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3c3c3c 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    border: 1px solid #ddd;
    border-radius: 3px;
    line-height: 43px;
}

.counter-box .counter .counter-unit .counter-unit-face .number:after{
    content: "";
    display: block;
    position: relative;
    top: -22px;
    width: 25px;
    height: 0;
    border-top: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid #000;
}

.counter-box .counter .counter-unit .counter-unit-face .number.left{
    margin: 0 1px 0 0;
}

.counter-box .counter .counter-unit .counter-unit-face .number.right{
    margin: 0 0 0 1px;
}

.counter-box .counter .counter-unit .counter-unit-label{
    padding-top: 4px;
    font-size: 12px;
}

.counter-box .counter .splitter{
    vertical-align: top;
    display: inline-block;
    width: 16px;
    height: 80px;
    text-align: center;
    font-size: 46px;
    line-height: 47px;
    font-weight: bold;
}

.counter-box .counter .end-action-label{
    height: 18px;
    margin-bottom: -4px;
    margin-top: -4px;
}

.counter-box .close-btn{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    right: 2px;
    color: #00a651;
    font-weight: bold;
    font-size: 30px;
    line-height: 20px;
    cursor: pointer;
}

.counter-box .close-btn:hover{
    color: #1b5e0d;
}

.modal-body-inner:after{
    display: block;
    content: "";
    clear: both;
}

.modal-body-inner textarea{
    resize: vertical;
}

.fade.in{
    
}

.event{
    margin-bottom: 20px;
}

.event-header{
    padding: 5px;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 10px;
    background: #D9E8F3;
    font-size: 90%;
}

.event-header:after{
    display: block;
    content: "";
    clear: both;
}

.event-header .event-number{
    padding: 0 12px;
    float: left;
}

.event-autor{
    color: #66afe9;
    font-weight: bolder;
}

.event-topic{

}

.event-text{
    text-indent: 40px;
}

em{
    font-style: italic;
}

.header-balance{
    padding: 0 6px;
    border-left: 1px solid #999;
}

.modal-dialog.wide{
    width: 960px;
}

.consultant-skype .skype,
.consultant-email .email{
    display: inline-block;
    line-height: 24px;
}

.consultant-skype i,
.consultant-email i{
    margin-top: 4px;
    vertical-align: top;
}

.filter-label{
    margin-right: 10px;
    line-height: 34px;
}

.services-row{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.services-row .service-pill{
    display: inline-block;
    width: 80px;
    height: 100px;
    margin-right: 14px;
    cursor: pointer;
}

.services-row .service-pill:hover .service-icon{
    background: #019be6;
}

.services-row .service-pill.active .service-icon{
    background: #019be6;
}

.services-row .service-pill .service-icon{
    width: 80px;
    height: 80px;
    background: #017ebc;
}

.services-row .service-pill:last-child{
    margin-right: 0;
}

.services-desc{
}

.service-info{
    padding: 20px;
    border: 1px solid #26a6d1;
    border-radius: 8px;
    display: none;
}

.service-info.show{
    display: block;
}

.label{
    display: inline-block;
    padding: 6px 12px !important;
    margin-bottom: 0;
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

tr.success {
    background-color: #D0FFD0;
}

tr.warning {
    background-color: #EEE6B9;
}

tr.default {
    background-color: transparent;
}

.play-btn{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../img/template/playBtnSprite.png");
    background-position: 0 0;
    cursor: pointer;
}

.play-btn:hover{
    background-position: 24px 0;
}

/*============= FOR IE8 ==============*/

html, body {
    height: 100%;
    background-color: #ddd\0/;
    min-width: 1000px\0/;
}

.own-header-text {
    font-size: 100% \0/;
}

/*============= FOR IE7 ==============*/

*+html html, body {
    height: 100%;
    background-color: #ddd;
    min-width: 1000px;
}

*+html .collapse {
    margin: 0;
    padding: 0;
}

*+html .own-nav-left {
    margin-top: -40px;
    width: 160px;
}

*+html .own-nav-left-item-submenu {
    background-color: #274B83;
}

*+html .own-nav-left a {
    cursor: pointer;
}

*+html .own-header-text {
    font-size: 100%;
}

*+html .form-control {
    height: 20px !important;
}

*+html .tab-content .own-pay-block {
    width: 400px;
}

*+html .tab-content .own-pay-block button {
    width: 100px;
}

*+html .own-pay-field {
    width: 80px;
}

*+html .tab-content .month-divider {
    visibility: hidden;
}

*+html .navbar-collapse.in .own-header-element {
    text-align: left;
    padding-right: 60px;
    border-bottom: none;
}

*+html .navbar-collapse.in {
    border: 1px solid #666;
}

*+html .own-nav-left .active {
    background-color: #14B3EE;
}

*+html .input-group-addon {
    visibility: hidden;
}

*+html .input-group .form-control {
    margin-top: -12px;
}

*+html .own-info-block {
    width: 240px;
}

*+html .own-info-block .own-info-block-header {
    width: 220px;
}

*+html .form-unit select {
    margin-top: 8px;
}

*+html .own-pay-field .form-control {
    position: relative;
    z-index: 0
}

*+html .tab-content {
    overflow: auto;
    margin-top: 41px;
}

*+html .tab-content .form-unit .form-unit-field {
    width: 65%
}

*+html .tab-pane {
    overflow-y: hidden;
    padding-right: 10px;
}

*+html .tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li {
    float: left;
}

*+html .tabs-left > .nav-tabs {
    width: 230px;
    margin-left: 0;
}

.bs-callout-danger {
    background-color: #FDF7F7 !important;
    border-color: #D9534F !important;
}

.bs-callout {
    border-left: 3px solid #EEEEEE;
    margin: 20px 0;
    padding: 0px 20px 0px 20px;
}
.bs-callout-danger h1, .bs-callout-danger h2, .bs-callout-danger h3, .bs-callout-danger h4, .bs-callout-danger h5, .bs-callout-danger h6{
    color: #D9534F;
    font-weight: 900;
}