<h1>
    <translate>AUTH_PASSWORD_RECOVERY</translate>
</h1>
<div class="row" ng-show="!restored">
    <form name="restore_frm" ng-submit="restore()">
        <div class="col-xs-12" data-ng-show="RestoreMessage">
            <div class="alert alert-danger" data-ng-bind="RestoreMessage"></div>
        </div>

        <div class="col-xs-12">
            <p>
                <translate>AUTH_P_AUTH_PASSWORD_RECOVERY_DESC</translate>
            </p>
        </div>
        <div class="col-xs-12">
            <input class="form-control" type="email" ng-disabled="restoring" placeholder="E-mail" ng-model="email" required autofocus>
        </div>

        <div class="col-xs-12 forgot-pass-link">
            <a ui-sref="auth.login">
                <translate>AUTH_BACK_TO_AUTH</translate>
            </a>
        </div>
        <div class="col-xs-12 center">
            <button class="btn btn-primary" type="submit" ng-disabled="restore_frm.$invalid || restoring">
                <translate>AUTH_P_AUTH_PASSWORD_RECOVERY_RECOVER</translate>
            </button>
        </div>
    </form>
</div>

<div class="row" ng-show="restored">
    <div class="col-xs-12">
        <p>
            <translate>AUTH_PASSWORD_RECOVER_SUCCESS</translate>
        </p>
    </div>

    <div class="col-xs-12 forgot-pass-link">
        <a ui-sref="auth.login">
        <translate>AUTH_BACK_TO_AUTH</translate></a>
    </div>
</div>