<!--<h1>-->
    <!--<translate>AUTH_PARTNER_CABINET</translate>-->
<!--</h1>-->
<!--<div class="row">-->
    <!--<form name="login_frm" ng-submit="login()" autocomplete="off">-->
        <!--<div class="col-xs-12" data-ng-show="LoginMessage">-->
            <!--<div class="alert alert-danger" data-ng-bind="LoginMessage"></div>-->
        <!--</div>-->

        <!--<div class="col-xs-12">-->
            <!--<input class="form-control" type="email" name="email" placeholder="E-mail" data-ng-model="email" ng-dblclick="getLogins()" required autofocus >-->
            <!--<ul class="autocomplete" ng-show="autocomplete" ng-model="login">-->
                <!--<li ng-repeat="login in logins" ng-click="selectLogin($event)">{{login}}</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-xs-12">-->
            <!--<input class="form-control" type="password" name="password" placeholder="{{'AUTH_PASSWORD' | translate}}" data-ng-model="password" required >-->
        <!--</div>-->
        <!--<div class="col-xs-12 forgot-pass-link">-->
            <!--<a ui-sref="auth.forgot">-->
                <!--<translate>AUTH_FORGOT_PASSWORD</translate>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col-xs-12 remember-me-chkbx">-->
            <!--<input id="remember-me-chkbx" type="checkbox" ng-model="remember"/>-->
            <!--<label for="remember-me-chkbx"><span></span>-->
                <!--<translate>AUTH_REMEMBER_ME</translate>-->
            <!--</label>-->
        <!--</div>-->
        <!--<div class="col-xs-12 center">-->
            <!--<button class="btn btn-primary" type="submit">-->
                <!--<translate>AUTH_LOGIN_BUTTON</translate>-->
            <!--</button>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->

<div class="login-box">
    <h1 align="center" class="login-box-h1">
        <translate>AUTH_DESC_MESSAGE</translate>
    </h1>


    <form class="tg-smallForm clearfix" name="login_frm" ng-submit="login()" autocomplete="off">
        <input class="form-control login-box-unit" type="email" name="email" placeholder="E-mail" data-ng-model="email" ng-dblclick="getLogins()" required autofocus>
        <input type="password" name="password" placeholder="{{'AUTH_PASSWORD' | translate}}" data-ng-model="password" required class="form-control login-box-unit">

        <div class="login-box-unit login-box-footer">
                    <!--<span class="help-block pull-left">-->
                        <!--<a href=""> <translate>AUTH_REMEMBER_ME</translate></a>-->
                    <!--</span>-->
            <button type="submit" class="btn btn-info pull-right col-lg-6"><translate>AUTH_LOGIN_BUTTON</translate></button>
        </div>
    </form>
</div>