<div class="login-header">
    <div class="login-header-image-box"></div>
</div>
<div class="login-content" data-ui-view>

</div>
<div class="login-footer-shadows">
    <div class="login-footer-shadow-left"></div>
    <div class="login-footer-shadow-right"></div>
</div>